name: Deploy MYSQL To ECR
## Trigger the workflow on push to main branch
on: 
  push:
    branches: [ main ]

jobs:
  build:
    name: Build and Push MySQL Image
    runs-on:
      labels: assignment

    steps:
    - name: Check out code
      uses: actions/checkout@v4

    - name: Login to Amazon ECR
      id: login-ecr
      uses: aws-actions/amazon-ecr-login@v1
      env:
        AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
        AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        AWS_SESSION_TOKEN: ${{ secrets.AWS_SESSION_TOKEN }}
        AWS_REGION: us-east-1

    - name: Build and Push MySQL Docker Image
      run: |
          docker build -t assignment-mysql -f Dockerfile_mysql .
          docker tag assignment-mysql:latest 069173813596.dkr.ecr.us-east-1.amazonaws.com/assignment-1-dev-ecr:mysql-latest
          docker push 069173813596.dkr.ecr.us-east-1.amazonaws.com/assignment-1-dev-ecr:mysql-latest
